{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id|e }}</td>
        <td>{{ user.username|e }}</td>
        <td>{{ user.role|e }}</td>
        <td class="actions">
            <a href="/admin/users/{{ user.id|e }}/claims">Claims</a>
            <a href="/admin/users/{{ user.id|e }}/create-pw-session">Password</a>
            {% if user.role == crate::store::UserRole::Admin %}
            <a data-submit="/admin/users/{{ user.id|e }}/update"
               data-submit-confirm="Are you sure?"
               data-value-role="User"
               href="#">Overthrow</a>
            {% else %}
            <a data-submit="/admin/users/{{ user.id|e }}/update"
               data-submit-confirm="Are you sure?"
               data-value-role="Admin"
               href="#">Praise</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="/admin/users/add">Create a new account</a>

{% endblock %}